// Import BootStrap Custom Theme
@import './bootstrap-theme.scss';

html {
  @media (min-width: 0px) {
    font-size: calc(0.75rem + ((1vw - 2px) * 1.7391));
  }

  @media (min-width: 660px) {
    font-size: 20px;
  }
}


.container {
  max-width: 660px;
}

.centered {
  display: flex;
	align-items: center;
}

.destination {
  height: 5rem;
  color: map-get($colors, 'gray-dark');

  .dice-img {
    height: 3.6rem;
  }

  .description {
    font-size: 0.8rem;
  }
  
  .name {
    font-size: 1.5rem;
  }
}

.setting-input {
  font-size: 16px;
}

.footer {
  width: 100%;
  background-color: map-get($colors, 'gray-dark');
  padding-top: 20px;
  padding-bottom: 20px;

  .link {
    color: map-get($grays, '100');
    line-height: 2;
    margin-right: 1em;
  }
}

section {
  margin-bottom: 25px;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 30px;
  color: #6594e0;
  border-bottom: dashed 2px #6594e0;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  border-bottom: solid 1px black;
}

p {
  text-indent: 1rem;
  font-size: 0.9rem;
  line-height: 1.7;
}

ol {
  padding-left: 1em;
}

li {
  margin-bottom: 15px;
  font-size: 0.9em;
}
