<template>
  <article>
    <b-navbar variant="info" type="dark">
      <b-navbar-brand to="/">サイコロの旅</b-navbar-brand>
    </b-navbar>

    <nuxt />

    <footer class="footer">
      <b-container fluid>
        <nuxt-link class="link" to="about">サイコロの旅について</nuxt-link>
        <nuxt-link class="link" to="terms-of-service">利用規約</nuxt-link>
        <nuxt-link class="link" to="privacy-policy">プライバシーポリシー</nuxt-link>
        <a class="link" href="https://form.run/@dice-travel">お問い合わせ</a>
      </b-container>
    </footer>
  </article>
</template>
