<template>
  <b-container tag="main" class="py-5">
    <h1>{{ $metaInfo.title }}</h1>

    <section>
      <h2>このサイトはどんなサイト？</h2>
      <p>
        サイコロの旅は6つのサイコロの目にそれぞれ都市の名前を設定し、サイコロでランダムに行き先を決定できるサイトです。
        水曜どうでしょうの「サイコロの旅」企画をWeb上で簡単に体験することができます。
      </p>
    </section>

    <section>
      <h2>使い方</h2>
      <p>
        <nuxt-lick to="/">サイコロボードページ</nuxt-lick>にアクセスし、各サイコロの目のところをクリック・タップして目的地を設定していきます。
        目的地を設定したらいよいよドキドキのサイコロタイム！
        「サイコロを振る」ボタンを押すとサイコロが出現します。
        「何が出るかな、何が出るかな」と歌いながらサイコロをクリック・タップしてサイコロをとめましょう。
        サイコロの指す場所があなたの次の行き先です。
      </p>
    </section>

    <b-row align-h="center" class="mt-5 mb-4">
      <b-button variant="outline-success" to="/">TOPへ戻る</b-button>
    </b-row>
  </b-container>  
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class AboutPage extends Vue {
  /** メタ情報 */
  head () {
    return {
      title: 'サイコロの旅について'
    }
  }
}
</script>
