<template>
  <b-container tag="main" class="my-0">
    <!-- <div class="clearfix">
      <b-button variant="outline-primary" class="float-right" @click="onRandomizeDistination">ランダム</b-button>
    </div> -->
    <a v-for="(setting, index) in diceSettings" :key="setting.num" @click="onEditButtonClicked(index)">
      <b-row align-v="center" class="my-2 mx-0 border destination">
        <b-col cols="3">
          <b-img class="dice-img my-2" :src="setting.diceSvg" fluid />
        </b-col>
        <b-col cols="9">
            <b-container fluid>
              <b-row class="description" v-if="setting.description">{{ setting.description }}</b-row>
              <b-row class="name">{{ setting.distination }}</b-row>
            </b-container>
        </b-col>
      </b-row>
    </a>
    <b-button class="my-3" variant="success" block @click="onDiceCastButtonClicked">サイコロを振る</b-button>

    <!-- 目的地編集ダイアログ -->
    <b-modal v-model="showEditDistinationDialog"
              title="目的地設定"
              header-bg-variant="info"
              header-text-variant="light"
              @ok="onEditDistinationDone"
              @cancel="onEditDistinationCanceled">
      <p>目的地を入力してください</p>
      <b-form-group label="説明" description="訪れる目的や食べたい物などご自由に">
        <b-form-input class="setting-input" type="text" v-model="descriptionInput" placeholder="（例）餃子を食べに行く！" />
      </b-form-group>
      <b-form-group label="地名" description="行きたい場所の名前">
        <b-form-input class="setting-input" type="text" v-model="distinationNameInput" placeholder="（例）浜松！" />
      </b-form-group>
    </b-modal>

    <b-modal v-model="showDiceDialog"
              title="サイコロ"
              header-bg-variant="info"
              header-text-variant="light"
              hide-footer centered>
      <template v-if="currentDiceSetting">
        <a @click="onAnimationStop">
          <b-container>
            <b-row>
              <p>クリックでサイコロをストップ</p>
            </b-row>
            <b-row align-h="center">                
              <b-col>
                <b-img :src="currentDiceSetting.diceSvg" fluid />
              </b-col>
              <b-col>
                <b-container class="destination" fluid>
                  <b-row class="description" v-if="currentDiceSetting.description">{{ currentDiceSetting.description }}</b-row>
                  <b-row class="name">{{ currentDiceSetting.distination }}</b-row>
                </b-container>
              </b-col>
            </b-row>
          </b-container>
        </a>
      </template>
    </b-modal>
  </b-container>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'
import dice1 from '~/assets/img/dice-1.svg'
import dice2 from '~/assets/img/dice-2.svg'
import dice3 from '~/assets/img/dice-3.svg'
import dice4 from '~/assets/img/dice-4.svg'
import dice5 from '~/assets/img/dice-5.svg'
import dice6 from '~/assets/img/dice-6.svg'
import data from '~/assets/json/data.json'

@Component
export default class IndexPage extends Vue {

  /** 目的地設定ダイアログを表示するかどうか */
  showEditDistinationDialog = false

  /** ダイスダイアログを表示するかどうか */
  showDiceDialog = false

  /** 編集中のダイス番号 */
  editingDiceNum: number = null

  /** 目的の入力 */
  descriptionInput: string = ''

  /** 地名の入力 */
  distinationNameInput: string = ''

  /** ダイス毎の設定 */
  diceSettings: Array<DiceSetting> = [
    new DiceSetting(1, dice1),
    new DiceSetting(2, dice2),
    new DiceSetting(3, dice3),
    new DiceSetting(4, dice4),
    new DiceSetting(5, dice5),
    new DiceSetting(6, dice6),
  ]

  /** ダイスルーレットで選択されているダイス */
  currentDiceSetting: DiceSetting = this.diceSettings[0]

  /** ダイスルーレットが有効か */
  diceAnimationActive: boolean = false

  /** 目的地設定ボタン押下時の処理 */
  onEditButtonClicked (targetNum: number) {
    this.editingDiceNum = targetNum
    this.distinationNameInput = this.diceSettings[targetNum].distination
    this.descriptionInput = this.diceSettings[targetNum].description
    this.showEditDistinationDialog = true
  }

  /** 目的地設定ダイアログをOKを謳歌して閉じた場合 */
  onEditDistinationDone () {
    this.diceSettings[this.editingDiceNum].distination = this.distinationNameInput
    this.diceSettings[this.editingDiceNum].description = this.descriptionInput
    this.showEditDistinationDialog = false
    this.editingDiceNum = null
  }

  /** 目的地設定ダイアログをOKを謳歌して閉じた場合 */
  onEditDistinationCanceled () {
    this.showEditDistinationDialog = false
    this.editingDiceNum = null
  }

  /** 目的地をランダムに決定する */
  onRandomizeDistination () {
    data.distinationList
      .map(dist => {
        return {
          distination: dist,
          random: Math.random()
        }
      })
      .sort((dist1, dist2) => {
        return dist2.random - dist1.random
      })
      .slice(0, 6)
      .forEach(({ distination }, index) => {
        this.diceSettings[index].distination = distination.name
        this.diceSettings[index].description = distination.description
      })
  }

  /** ダイスを振るボタン押下時のイベントハンドラ */
  onDiceCastButtonClicked () {
    this.currentDiceSetting = this.diceSettings[0]
    this.showDiceDialog = true
    this.diceAnimationActive = true
    this.animateDice()
  }

  /** ダイスルーレット */
  animateDice () {
    this.currentDiceSetting = this.diceSettings[Math.floor(Math.random() * 6)]
    if (this.diceAnimationActive) {
      setTimeout(this.animateDice, 20)
    }
  }

  onAnimationStop () {
    this.diceAnimationActive = false
  }
}

class DiceSetting {
  /** ダイスの目 */
  public num: number
  /** 説明 */
  public description: string = ''
  /** 行き先 */
  public distination: string = ''
  /** SVGファイルの参照文字列 */
  public diceSvg: string

  public constructor (num: number, diceSvg: string) {
    this.num = num
    this.diceSvg = diceSvg
  }
}
</script>
