<template>
  <b-container tag="main" class="py-5">
    <h1>{{ $metaInfo.title }}</h1>

    <section>
      <p>この利用規約（以下，「本規約」といいます。）は，サイコロ旅（以下，「本サービス」といいます。）の利用条件を定めるものです。ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
    </section>

    <section>
      <h2>第1条（適用）</h2>
      <p>本規約は，ユーザーの本サービスの利用に関わる一切の関係に適用されるものとします。</p>
    </section>

    <section>
      <h2>第2条（禁止事項）</h2>
      <p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
      <ol>
        <li>法令または公序良俗に違反する行為</li>
        <li>犯罪行為に関連する行為</li>
        <li>本サービスのサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
        <li>本サービスのサービスの運営を妨害するおそれのある行為</li>
        <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
        <li>他のユーザーに成りすます行為</li>
        <li>本サービスのサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
        <li>本サービス，本サービスの他の利用者または第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</li>
        <li>過度に暴力的な表現，露骨な性的表現，人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現，自殺，自傷行為，薬物乱用を誘引または助長する表現，その他反社会的な内容を含み他人に不快感を与える表現を，投稿または送信する行為</li>
        <li>営業，宣伝，広告，勧誘，その他営利を目的とする行為（本サービスの認めたものを除きます。），性行為やわいせつな行為を目的とする行為，面識のない異性との出会いや交際を目的とする行為，他のお客様に対する嫌がらせや誹謗中傷を目的とする行為，その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
        <li>宗教活動または宗教団体への勧誘行為</li>
        <li>その他，本サービスが不適切と判断する行為</li>
      </ol>
    </section>

    <section>
      <h2>第3条（本サービスの提供の停止等）</h2>
      <p>本サービスは，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
      <ol>
        <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
        <li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
        <li>コンピュータまたは通信回線等が事故により停止した場合</li>
        <li>その他，本サービスが本サービスの提供が困難と判断した場合</li>
      </ol>
      <p>本サービスは，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害について，理由を問わず一切の責任を負わないものとします。</p>
    </section>

    <section>
      <h2>第4条（利用制限および登録抹消）</h2>
      <p>本サービスは，以下の場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限することができるものとします。</p>
      <ol>
        <li>本規約のいずれかの条項に違反した場合</li>
        <li>その他，本サービスが本サービスの利用を適当でないと判断した場合</li>
      </ol>
      <p>本サービスは，本条に基づき本サービスが行った行為によりユーザーに生じた損害について，一切の責任を負いません。</p>
    </section>

    <section>
      <h2>第5条（免責事項）</h2>
      <p>本サービスの債務不履行責任は，本サービスの故意または重過失によらない場合には免責されるものとします。</p>
      <p>本サービスは，何らかの理由によって責任を負う場合にも，通常生じうる損害の範囲内かつ有料サービスにおいては代金額（継続的サービスの場合には1か月分相当額）の範囲内においてのみ賠償の責任を負うものとします。</p>
      <p>本サービスは，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</p>
    </section>

    <section>
      <h2>第6条（サービス内容の変更等）</h2>
      <p>本サービスは，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</p>
    </section>

    <section>
      <h2>第7条（利用規約の変更）</h2>
      <p>本サービスは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>
    </section>

    <section>
      <h2>第8条（通知または連絡）</h2>
      <p>ユーザーと本サービスとの間の通知または連絡は，本サービスの定める方法によって行うものとします。</p>
    </section>

    <section>
      <h2>第9条（権利義務の譲渡の禁止）</h2>
      <p>ユーザーは，本サービスの書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
    </section>

    <section>
      <h2>第10条（準拠法・裁判管轄）</h2>
      <p>本規約の解釈にあたっては，日本法を準拠法とします。</p>
      <p>本サービスに関して紛争が生じた場合には，本サービスの本店所在地を管轄する裁判所を専属的合意管轄とします。</p>
    </section>

    <section>
      <p>以上。</p>
    </section>

    <b-row align-h="center" class="mt-5 mb-4">
      <b-button variant="outline-success" to="/">TOPへ戻る</b-button>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class TermsOfServicePage extends Vue {
  /** メタ情報 */
  head () {
    return {
      title: '利用規約'
    }
  }
}
</script>
